@import "tailwindcss";

.nav-link,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  .nav-link:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}